@page "/productos"

<h2>Perfil del Cliente</h2>

<div class="cv-layout">
    <!-- Columna izquierda -->
    <aside class="cv-profile">
        <img src="https://i.pinimg.com/236x/62/19/91/621991e768567862c3f2b5ba5b4ed9c2.jpg" alt="Foto de perfil" />
        <h3>Personita</h3>
        <p class="prof">Se dedica a x cosa</p>
    </aside>

    <!-- Columna derecha -->
    <section class="cv-info">
        <div class="info-card">
            <h4>📌 Experiencia</h4>
            <ul>
                <li>Desarrollador en Empresa X (2018-2021)</li>
                <li>Líder de proyectos en Empresa Y (2021-2023)</li>
            </ul>
        </div>

        <div class="info-card">
            <h4>🎓 Educación</h4>
            <ul>
                <li>Ingeniería en ----</li>
                <li>Diplomado en ---</li>
            </ul>
        </div>

        <div class="info-card">
            <h4>📞 Contacto</h4>
            <p>Email: <a href="mailto:juan.perez@example.com">gmailxxx.com </a></p>
            <p>Tel: +52 xxxxxxxxxxx</p>
        </div>
    </section>
</div>
