@page "/reportes"

<!-- Top menu adicional SOLO para esta sección -->
<header class="sub-topmenu">
    <NavLink href="/graficaclientes">Grafica</NavLink>
    <NavLink href="/productos">Perfil de cliente</NavLink>
    <NavLink href="/clientesresumen">Ejemplo de tabla</NavLink>
</header>

<section>
    <h3>Reportes Generales</h3>
    <p>Aquí puedes navegar en las diferentes categorías usando el topmenu adicional.</p>
</section>
